body {
    background-color: rgb(181, 195, 236);
    letter-spacing: 0.2em;
    font-size: 0.8em;
}

.container {
    max-width: 500px;
    margin: 0 auto;
}

.icon {
    position: relative;
    top: -50px;
    border-radius: 50%;
    width: 100px;
    margin-bottom: -50px;
}